.dropzone {
  background: #cfdae5;
  color: #253759;
  padding: 5vmin;
  width: 40vw;
  text-align: center;
  margin-left: 22vw;
  margin-right: 22vw;
  margin-bottom: 5vh;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  border-color: #b78c38;
  font-size: 4vmin;
}

.graphList {
  list-style-type: none;
  align-items: center;
}

.graphList .graph {
  width: 80vw;
  border-radius: 5px;
  border-color: #b78c38;
  border-style: solid;
  border-width: 3px;
  padding: 3vmin;
  margin-bottom: 3vmin;
}

/*  Hex 	    RGB
	#253759 	(37,55,89)
	#466273 	(70,98,115)
	#b0babf 	(176,186,191)
	#c0d9d9 	(192,217,217)
	#b78c38 	(183,140,56) */
